
.bg-color{
    background-color: #275998;

}

hr.hr{
    margin: 1rem;
    border: solid 2px;
   
}

.img-padding{
    padding-top: 5rem;
    
}

.img-size{
    height: 550px;
}






























/* .style{
    background-color: navy;
    color: #E1B954;
    text-decoration: none;
}

.style a:hover{
    text-decoration: underline;
} */