
.bg-color{
    background-color: #275998;

}

.bg-color-2{
    background-color: #052e61;

}

hr.hr{
    margin: 1rem;
    border: solid 2px;
   
}

.img-padding{
    padding-top: 5rem;
    
}

.img-size{
    height: 550px;
}

.p{
    padding-left: 5rem;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}






























/* .style{
    background-color: navy;
    color: #E1B954;
    text-decoration: none;
}

.style a:hover{
    text-decoration: underline;
} */